@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: #e5e4e2;
}
/* Handle */
body::-webkit-scrollbar-thumb {
  background-color: rgb(139, 92, 246);
}
body::-webkit-scrollbar-thumb:hover {
  background: rgb(118, 64, 241);
}
.scroll-bar::-webkit-scrollbar {
  width: 8px;
}
.scroll-bar::-webkit-scrollbar-track {
  background-color: #e5e4e2;
}
/* Handle */
.scroll-bar::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
}
.scroll-bar::-webkit-scrollbar-thumb:hover {
  background: #808080;
}
